<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Support</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

<h4>For any enquires please contact us on:</h4>

<p><ion-icon slot="start" name="mail"></ion-icon> Email: info@flexyfuel.co.zw</p>

<p><ion-icon slot="start" name="call"></ion-icon> Phone: +263772 868 450</p>

</ion-content>
