<ion-header>
    <ion-toolbar color="primary">
        <ion-title>About</ion-title>
        <ion-buttons slot="start">
            <ion-back-button defaultHref=""></ion-back-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <img src="assets/imgs/about.jpg" />

    <p>
        Flexy fuels we are the liquid branch of Applegate logistics group we edovor to help social and economic sectors and industrials in the sadac region with our  innovative cutting edge business models in the transportation procurement and logistics chain.

    </p>

    <p>Reliability and flexibility is our strength</p>

</ion-content>
